@model Nop.Plugin.Payments.VivaPayments.Models.ConfigurationModel
@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))

<form asp-controller="VivaPayments" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <p>Viva Payments Smat Checkout Settings</p>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PaymentTitle_OverrideForStore" asp-input="PaymentTitle" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PaymentTitle" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PaymentTitle" />
                        <span asp-validation-for="PaymentTitle"></span>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="PaymentDescription_OverrideForStore" asp-input="PaymentDescription" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="PaymentDescription" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="PaymentDescription" asp-template="RichEditor" />
                        <span asp-validation-for="PaymentDescription"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="SourceCode_OverrideForStore" asp-input="SourceCode" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="SourceCode" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SourceCode" />
                        <span asp-validation-for="SourceCode"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="EnableInstallments_OverrideForStore" asp-input="EnableInstallments" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EnableInstallments" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EnableInstallments" />
                        <span asp-validation-for="EnableInstallments"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MinInstallments_OverrideForStore" asp-input="MinInstallments" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MinInstallments" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MinInstallments" />
                        <span asp-validation-for="MinInstallments"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="MerchantId_OverrideForStore" asp-input="MerchantId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="MerchantId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantId" />
                        <span asp-validation-for="MerchantId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ApiKey_OverrideForStore" asp-input="ApiKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ApiKey" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ApiKey" />
                        <span asp-validation-for="ApiKey"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="IsSandbox_OverrideForStore" asp-input="IsSandbox" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="IsSandbox" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="IsSandbox" />
                        <span asp-validation-for="IsSandbox" asp-template="Checkbox"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ClientId_OverrideForStore" asp-input="ClientId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ClientId" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ClientId" />
                        <span asp-validation-for="ClientId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="ClientSecret_OverrideForStore" asp-input="ClientSecret" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="ClientSecret" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="ClientSecret" />
                        <span asp-validation-for="ClientSecret"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>